<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YanFacingDownIdleAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>Neutral</string>
		<key>delay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string>PC_runD</string>
	</dict>
	<key>YanFacingLeftIdleAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>Neutral</string>
		<key>delay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string>PC_runL</string>
	</dict>
	<key>YanFacingRightIdleAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>Neutral</string>
		<key>delay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string>PC_runR</string>
	</dict>
	<key>YanFacingUpIdleAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>Neutral</string>
		<key>delay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string>PC_runU</string>
	</dict>
	<key>YanRunDownAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7</string>
		<key>delay</key>
		<real>0.07000000000000001</real>
		<key>filenamePrefix</key>
		<string>PC_runD</string>
	</dict>
	<key>YanRunLeftAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7</string>
		<key>delay</key>
		<real>0.07000000000000001</real>
		<key>filenamePrefix</key>
		<string>PC_runL</string>
	</dict>
	<key>YanRunRightAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7</string>
		<key>delay</key>
		<real>0.07000000000000001</real>
		<key>filenamePrefix</key>
		<string>PC_runR</string>
	</dict>
	<key>YanRunUpAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7</string>
		<key>delay</key>
		<real>0.07000000000000001</real>
		<key>filenamePrefix</key>
		<string>PC_runU</string>
	</dict>
</dict>
</plist>
