<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PC_runD1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,66}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>PC_runD2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,66}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>PC_runD3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,69}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>PC_runD4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,72}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>PC_runD5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,66}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>PC_runD6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,69}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>PC_runD7.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,72},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,72}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>PC_runDNeutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,72},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,66}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>PC_runL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,72},{57,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,72}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>PC_runL2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,72},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,72}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>PC_runL3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>PC_runL4.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,144},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>PC_runL5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,144},{57,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,72}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>PC_runL6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,144},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,72}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>PC_runL7.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,144},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>PC_runLNeutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>PC_runR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,216},{57,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,72}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>PC_runR2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,216},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,72}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>PC_runR3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,216},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>PC_runR4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>PC_runR5.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,288},{57,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,72}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>PC_runR6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,288},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,72}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>PC_runR7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>PC_runRNeutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,288},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>PC_runU1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,69}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>PC_runU2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,360},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,72}}</string>
                <key>sourceSize</key>
                <string>{57,78}</string>
            </dict>
            <key>PC_runU3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,360},{51,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,66}}</string>
                <key>sourceSize</key>
                <string>{57,72}</string>
            </dict>
            <key>PC_runU4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,360},{51,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,66}}</string>
                <key>sourceSize</key>
                <string>{57,72}</string>
            </dict>
            <key>PC_runU5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,360},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,69}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>PC_runU6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,72}}</string>
                <key>sourceSize</key>
                <string>{57,78}</string>
            </dict>
            <key>PC_runU7.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,432},{51,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,66}}</string>
                <key>sourceSize</key>
                <string>{57,72}</string>
            </dict>
            <key>PC_runUNeutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,432},{55,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,66}}</string>
                <key>sourceSize</key>
                <string>{57,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PCAtlas.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9862feb2971c390146cff7d1109d0ab$</string>
            <key>textureFileName</key>
            <string>PCAtlas.png</string>
        </dict>
    </dict>
</plist>
